#version: '3.8'
#
services:
    redis:
      image: redis:7-alpine
      container_name: kb_redis
      ports:
        - "6379:6379"
      volumes:
        - redis_data:/data
      healthcheck:
        test: [ "CMD", "redis-cli", "ping" ]
        interval: 5s
        timeout: 3s
        retries: 5
        start_period: 10s
      networks:
        - kb_network

    eureka-server:
      build:
        context: .
        dockerfile: ./eureka-server/Dockerfile
      image: eureka-server-image
      container_name: eureka-server
      ports:
        - "8761:8761"
      environment:
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      depends_on:
        redis:
          condition: service_healthy
      healthcheck:
        test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 60s
      networks:
        - kb_network

    user-service:
      build:
        context: .
        dockerfile: ./user-service/Dockerfile
      image: kb-user-service:latest
      container_name: user-service
      environment:
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      env_file:
        - ./user-service/.env
      ports:
        - "7071:7071"
      depends_on:
        redis:
          condition: service_healthy
        eureka-server:
          condition: service_started
      networks:
        - kb_network



    project-service:
      build:
        context: .
        dockerfile: ./project-service/Dockerfile
      image: project-service:latest
      container_name: project-service
      environment:
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      env_file:
        - ./project-service/.env
      ports:
        - "7072:7072"
      depends_on:
        redis:
          condition: service_healthy
        eureka-server:
          condition: service_started
      networks:
        - kb_network

    notification-service:
      build:
        context: .
        dockerfile: ./notification-service/Dockerfile
      image: notification-service:latest
      container_name: notification-service
      environment:
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      env_file:
        - ./notification-service/.env
      ports:
        - "7073:7073"
      depends_on:
        eureka-server:
          condition: service_started
      networks:
        - kb_network


    gateway-service:
      build:
        context: .
        dockerfile: ./gateway-service/Dockerfile
      image: kb-gateway-service:latest
      container_name: gateway-service
      environment:
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      env_file:
        - ./gateway-service/.env
      ports:
        - "7070:7070"
      depends_on:
        eureka-server:
          condition: service_started
        user-service:
          condition: service_started
        project-service:
          condition: service_started
      networks:
        - kb_network

    chat-service:
      build:
        context: ./chat-service
        dockerfile: Dockerfile
      image: python-service:latest
      container_name: chat-service
      ports:
        - "7075:7075"
      env_file:
        - ./chat-service/.env
      depends_on:
        redis:
          condition: service_healthy
        eureka-server:
          condition: service_started
      networks:
        - kb_network



volumes:
  redis_data:
    name: kb_redis_volume
    driver: local

networks:
  kb_network:
    name: kb_network
    driver: bridge
